*.user
*.suo
*.userosscache
*.userprefs
*.VC.db

[Bb]in/
[Oo]bj/
[Oo]ut/
build/

*.nupkg
**/packages/*
!**/packages/build/

.vs/

.vscode/

.idea/
*.sln.iml

*.DotSettings.user

.DS_Store

Thumbs.db

_ReSharper*/
*.sln.docstates

*.log
